{% extends "base.html" %}
{% block content %}

 <h2>Kontakty</h2>

    <div id="control"><a href="add">vytvorit kontakt</a></div>
    <table>
        {% if campaign_list|length > 0 %}
        <tr>
            <th>Meno</th>
            <th>Priezvisko</th>
            <th>Email</th>
            <th>Pohlavie</th>
            <th>Oslovenie</th>
            <th>Priznak</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        {% endif %}
        {% for person in person_list %}
        <tr>
            <td>{{ person.first_name }}</td>
            <td>{{ person.last_name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.gender }}</td>
            <td>{{ person.solution }}</td>
            <td>{{ person.flag }}</td>
            <td><a href="{{ person.id }}/edit">editovat</a> | </td>
            <td><a href="{{ person.id }}/delete">zmazat</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}