{% extends "base.html" %}
{% block content %}

Chcete vymazat kontakt
<a href="{{ BASE_URL }}/crowdmail/kontakty/{{ person.id }}/deleteAccept">ano</a>
<a href="{{ BASE_URL }}/crowdmail/kontakty">nie</a>

{% endblock %}