{% extends "base.html" %}
{% block content %}

 <h2>{{ form_title }}</h2>

    {{ message }}

	<form action="" method="post">{% csrf_token %}
	    {{ form.as_ul }}
	    <input type="submit" value="Vytvorenie kontaktu" />
	</form>   


{% endblock %}