{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
tinymce.init({
    selector: "textarea",   
    height: "350px",
 });
</script>

 <h2>{{ form_title }}</h2>
 <div>Legenda: znak <b>{oslovenie}</b> sa nahradi oslovenim pre kazdy kontakt</div><br>

    {{ message }}

	<form action="" method="post">
	{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="OK" /></p> 
    
</form> 


{% endblock %}