{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
tinymce.init({
    selector: "textarea",   
    readonly: 1,
    toolbar: false,
    menubar: false,
    height: "350px",
 });
</script>

 <h2>Vybrana kampan</h2>
    <table>
        <tr>
            <th>Meno kampane</th>
            <th>Status</th>
            <th>Datum vypustenia</th>
            <th>Identifikacny flag</th>
        </tr>
        <tr>
            <td>{{ campaign.name }}</td>
            <td>{{ campaign.status }}</td>
            <td>{{ campaign.release_date }}</td>
            <td>{{ campaign.identify_flag }}</td>
        </tr>
    </table>

    <div id="campaign-template"><textarea id="template">{{ campaign.data_html| safe }}</textarea></div>


 <h2>Vybrane kontakty</h2>
    <table>
        <tr>
            <th>Priradeny email</th>
            <th>Oslovenie v emaily</th>
        </tr>
        <tr>
        {% for membership in memberships %}
            <td>{{ membership.member.email }}</td>
            <td>{{ membership.member.solution }}</td>
        {% endfor %}
        </tr>
    </table>

{% endblock %}