{% extends "base.html" %}
{% block content %}

Chcete vymazat kampan
<a href="{{ BASE_URL }}/crowdmail/kampan/{{ campaign.id }}/deleteAccept">ano</a>
<a href="{{ BASE_URL }}/crowdmail/kampan">nie</a>

{% endblock %}