{% extends "base.html" %}
{% block content %}

Chcete spustit kampan
<a href="{{ BASE_URL }}/crowdmail/kampan/{{ campaign.id }}/lunchAccept">ano</a>
<a href="{{ BASE_URL }}/crowdmail/kampan">nie</a>

{% endblock %}