{% extends "base.html" %}
{% block content %}

 <h2>Kampane</h2>

    {{ message }}

    <div class="control"><a href="add">vytvorit kampan</a></div>

    <table>
            {% if campaign_list|length > 0 %}
            <tr>
                <th>Meno kampane</th>
                <th>Status</th>
                <th>Datum vypustenia</th>
                <th>Identifikacny flag</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            {% endif %}
            {% for campaign in campaign_list %}
            <tr>
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.status }}</td>
                <td>{{ campaign.release_date }}</td>
                <td>{{ campaign.identify_flag }}</td>
                <td><a href="{{ campaign.id }}">nahlad</a> | </td>
                <td><a href="{{ campaign.id }}/edit">editovat</a> | </td>
                <td><a href="membership/{{ campaign.id }}">pridat kontakty</a> | </td>
                <td><a href="{{ campaign.id }}/lunch">spustit kampan</a> | </td>
                <td><a href="{{ campaign.id }}/delete">zmazat</a></td>
            </tr>
            {% endfor %}
    </table>

{% endblock %}