<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static "js/tinymce/tinymce.min.js" %}"></script>

<title>Crowdmail</title>
</head>
<body>
<header>
<h1>Crowdmail</h1>
<hr>
</header>
<div id="wrapper">
<div id="navigation">
	<a href="{{ BASE_URL }}/crowdmail/kontakty/">kontakty</a>
	<a href="{{ BASE_URL }}/crowdmail/kampan/">kampan</a>
</div>
	{% block content %}

	{% endblock content %}

</div>
<hr>
<footer>
	<div>&copy; michalkalman 2014</div>
</footer>
</body>
</html>