{% extends "base.html" %}
{% block content %}

<script>
function toggle(source) {
  checkboxes = document.getElementsByName('person');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>

 <h2>{{ form_title }}</h2>

    {{ message }}

    <h3>{{ campaign.name }}</h3>

	<form action="" method="post">
	{% csrf_token %}   

    <input type="checkbox" onClick="toggle(this)" /> zaciarkni vsetkych<br/>
    {% for person in persons %}
        <div class="fieldWrapper">
        
        <input type="checkbox" name="person" id="person{{ person.id }}" value="{{ person.id }}">
        {{ person.first_name }}
        {{ person.last_name }}
        {{ person.email }}           

        {% for membership in memberships %}
            {% if membership.member.id == person.id %}   
                <script>document.getElementById('person{{ person.id }}').checked = true;</script>         
            {% endif %}
        {% endfor %}

        </div>
    {% endfor %}   
    <input type="hidden" name="campaing_id" value="{{ campaign.id }}" />
    <p><input type="submit" value="OK" /></p>
    
</form> 


{% endblock %}